:root {
    --primary-green: #8D8741;
    --primary-blue:#659DBD;
    --primary-beige:#DAAD86;
    --secondary-beige:#BC986A;
    --primary-cream:#FBEEC1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: monospace;
}

body {
    background-color: #FBEEC1;
    display: grid;
    grid-template-columns: 1fr 15fr 15fr;
    grid-template-rows:1fr 5fr 2.5fr 2.5fr 0.2fr;
    gap: 1px;
    grid-template-areas: 
    "header header header"
    "nav image image"
    "nav starter maincourse"
    "nav dessert recent"
    "footer footer footer";
}

header {
    background-color: #8D8741;
    text-align: center;
    grid-area: header;
    font-size: 4rem;
}

img{
    grid-area: image;
    object-fit: cover;
    justify-self: center;
}

nav {
    background-color: var(--primary-blue);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: nav;
}

button {
    width: 150px;
    height: 60px;
    border-color: #FBEEC1;
    border-radius: 20px;
    margin: 30px 10px;
    font-size: 2.5rem;
    background-color: var(--primary-beige);
    cursor: pointer;
}

div {
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.starter {
    grid-area: starter;
    background-color: var(--primary-beige);

}

.maincourse {
    grid-area: maincourse;
    background-color: var(--primary-green);

}

.dessert {
    grid-area: dessert;
    background-color: var(--secondary-beige);

}

.recent {
    grid-area: recent;
    background-color: var(--primary-cream);
}

footer{
    background-color: var(--primary-green);
    grid-area: footer;
}

div:hover {
    background-color: lightcyan;
}
@media screen and (max-width: 750px){}
